.block {
  border-bottom: black solid 1px;
  border-right: black solid 1px;
  height: 9px;
  width: 51px;
}

.block:first-of-type {
  border-top: black solid 1px;
}

p {
  margin: 0;
  font-size: 8px;
  position: relative;
  left: 0;
  top: -8px
}

body {
  background: #fff4c4;
}

@media only screen and (min-width: 499px) {
  .block {
    width: 9px;
    height: 50px;
  }

  body {
    margin: 0;
  }

  .block:first-of-type {
    border-top: unset;
  }

  .ruler-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  p {
    transform: rotate(270deg);
    left: 0;
    top: 0;
  }

  .block:first-of-type {
    border-right: black solid 1px;
  }

  .block:last-of-type {
    border-right: unset;
  }
}
