.block {
  height: 9px;
  border-bottom: solid black 1px;
  width: 70px;
  margin-left: 10px;
}

p {
  margin: 0;
  font-size: 10px;
}

body {
  margin: 0;
  background: #fff4c4;
}

@media only screen and (min-width: 499px) {
  .block {
    width: 9px;
    height: 50px;
    margin-left: 0;
    border-right: black solid 1px;
  }

  body {
    margin: 0;
  }

  .ruler-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  p {
    transform: rotate(270deg);
    left: 0;
    top: 0;
  }
}
